* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.name {
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.name h1 {
	font-size: 4rem;
	opacity: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	transition: opacity 0.3s linear, font-size 0.3s linear;
	animation: animateBg 12s linear infinite;
	/* background-image: linear-gradient(
		90deg,
		#71c66c,
		#ff8000,
		#db5779,
		#71c66c,
		#ff8000
	); */
	background-image: linear-gradient(
		90deg,
		#71c66c,
		#1cffd2,
		#2962ff,
		#71c66c,
		#1cffd2
	);
	background-color: #000;
	background-size: 400% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.nameDarkBackground {
	background-image: linear-gradient(
		90deg,
		rgb(222, 93, 29),
		rgb(220, 22, 22),
		rgb(226, 174, 42),
		rgb(222, 93, 29),
		rgb(220, 22, 22)
	) !important;
}
@keyframes animateBg {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

.box {
	/* width: calc(100% / 4); */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.4s linear;
	cursor: pointer;
}
.box h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 35px;
}
.box:hover,
.box:focus,
.box:active {
	-webkit-box-shadow: inset 0px 0px 70px -20px rgba(72, 72, 72, 1);
	-moz-box-shadow: inset 0px 0px 70px -20px rgba(72, 72, 72, 1);
	box-shadow: inset 0px 0px 70px -20px rgba(72, 72, 72, 1);
}
.boxAnimationOnLoad {
	-webkit-box-shadow: inset 0px 0px 70px -20px rgba(72, 72, 72, 1);
	-moz-box-shadow: inset 0px 0px 70px -20px rgba(72, 72, 72, 1);
	box-shadow: inset 0px 0px 70px -20px rgba(72, 72, 72, 1);
}
.placeholder {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	all: unset;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainDarkMode {
	background-color: rgb(29, 29, 29);
	color: #fff;
}
/* .boxDarkMode {
} */
.boxDarkMode:hover,
.boxDarkMode:focus,
.boxDarkMode:active {
	-webkit-box-shadow: inset 0px 0px 70px -20px rgb(0, 0, 0);
	-moz-box-shadow: inset 0px 0px 70px -20px rgb(0, 0, 0);
	box-shadow: inset 0px 0px 70px -20px rgb(0, 0, 0);
}
.animationLength {
	transition: all 0.5s linear !important;
}
.boxAnimationOnLoadDark {
	-webkit-box-shadow: inset 0px 0px 70px -20px rgb(0, 0, 0);
	-moz-box-shadow: inset 0px 0px 70px -20px rgb(0, 0, 0);
	box-shadow: inset 0px 0px 70px -20px rgb(0, 0, 0);
}

.popUpBoxDarkMode {
	background-color: rgb(29, 29, 29) !important;
	color: #fff !important;
}

.popUpBox {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.popUpBox p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.popUpBox h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 50px;
	align-self: flex-start;
}
.info {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	gap: 50px;
	overflow: auto;
	cursor: default;
}

.languages {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
}
/* .languages ::-webkit-scrollbar {
	background-color: transparent;
} */
.languages img {
	height: 100px;
}
